:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --more-text-color: #ffffff;
  --accent-color: #2196F3;
  --subgect-color: #AFB1B8;
  --main-font: Roboto, sans-serif;
  --primary-bgc: #ffffff;
  --gallery-section-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-bgc);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}
.features-list .list:not(:last-child), .work-list .list:not(:last-child), .teams-list .list:not(:last-child) {
  margin-right: 30px;
}

.link {
  transition: color var(--transition);
  text-decoration: none;
}
.header__nav .link:hover, .nav .link:hover, .nav .link:focus, .footer .link:hover, .footer .link:focus, .contact .link:hover, .contact .link:focus, .gallery .link:hover, .gallery .link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title,
.teams-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feature-title,
.soc-info__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.teams-name,
.teams-expert {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-btn,
.footer-submit {
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--more-text-color);
  background: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition), box-shadow var(--transition);
}

.modal-btn:hover,
.modal-btn:focus,
.footer-btn:hover,
.footer-btn:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
}

.header {
  border: 1px solid transparent;
  border-bottom-color: #ECECEC;
}

.header__nav,
.nav__list {
  display: flex;
}

.logo {
  display: block;
  min-width: 145px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__logo-dark {
  margin-bottom: 0;
  color: #000000;
}

.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}
.contact__item:hover {
  fill: var(--accent-color);
}
.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__icon {
  padding-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2F303A;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: auto;
  max-width: 696px;
  margin-bottom: 30px;
  color: var(--more-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--more-text-color);
  background: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188CE8;
  color: var(--more-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
}

.features-list {
  display: flex;
}

.features-list .list {
  width: 270px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.feature-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.feature-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  align-items: center;
}

.section.work {
  padding-top: 0;
}

.work-item {
  position: relative;
}

.work-subtitle {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.section.teams {
  background: #f5f4fa;
}

.teams-title {
  margin-bottom: 50px;
}

.teams-object {
  background-color: var(--primary-bgc);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.teams-subject {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teams-name {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
}

.teams-expert {
  margin-bottom: 16px;
  color: var(--title-text-color);
}

.teams-list {
  display: flex;
}

.teams-soc-list {
  display: flex;
  justify-content: center;
}

.teams-soc-item {
  width: 44px;
  height: 44px;
}

.teams-soc-item:not(:last-child) {
  margin-right: 10px;
}

.teams-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--subgect-color);
  transition: background-color var(--transition), color var(--transition);
  border-radius: 50%;
}

.teams-soc-icon {
  fill: currentColor;
}

.teams-soc-link:hover,
.teams-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--more-text-color);
  outline: transparent;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clients-item {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--subgect-color);
  border-radius: 4px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--subgect-color);
  transition: border var(--transition), color var(--transition);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  outline: transparent;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__info {
  display: flex;
  align-items: baseline;
}

.footer__site {
  margin-right: 70px;
}

.logo__white {
  color: var(--more-text-color);
}

.footer__address {
  width: 231px;
  margin-top: 20px;
}

.address__link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__link--white {
  color: var(--more-text-color);
}

.address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.address__item {
  margin-top: 9px;
}

.footer__soc-info {
  margin-right: 93px;
}

.soc-info__title {
  display: block;
  margin-bottom: 20px;
  color: var(--more-text-color);
}

.soc-info__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--more-text-color);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
  outline: transparent;
}

.footer-form {
  width: 570px;
}

.footer-strong {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-submit {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px 29px;
}

.footer-input {
  padding: 15px 12px 15px 16px;
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.gallery-btn {
  color: var(--primary-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}

.btn:hover,
.btn:focus {
  background: #188CE8;
  color: var(--more-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

.flex-elements .button:not(:last-child) {
  margin-right: 9px;
}

.flex-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-elements.button {
  margin-bottom: 50px;
}

.flex-elements > .item {
  flex-basis: calc(33.3333333333% - var(--gallery-section-gap));
  margin-left: var(--gallery-section-gap);
  margin-top: var(--gallery-section-gap);
  background: var(--primary-bgc);
}

.flex-elements.gallery {
  margin-left: calc(-1 * var(--gallery-section-gap));
  margin-top: calc(-1 * var(--gallery-section-gap));
}

.flex-elements .btn {
  display: block;
  padding: 6px 22px;
}

.gallery-subject {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top-color: transparent;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.gallery-section:hover,
.gallery-section:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

.gallery-section {
  transition: box-shadow var(--transition);
}

.gallery-thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  color: var(--more-text-color);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform var(--transition);
  overflow: auto;
}

.gallery-section:hover .thumb-text,
.gallery-section:focus .thumb-text {
  transform: translateY(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-bgc);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--primary-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color var(--transition), fill var(--transition);
}

.modal-close:hover,
.modal-close:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.modal-close:hover > .close-icon,
.modal-close:focus > .close-icon {
  fill: var(--accent-color);
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-group.textarea {
  margin-bottom: 20px;
}

.form label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.form-input {
  width: 100%;
  background-color: transparent;
  padding: 12px 42px;
  transition: outline var(--transition), border-color var(--transition);
}

.form-input:focus,
.comment:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.form-input::placeholder {
  color: var(--accent-color);
}

.form-group:focus-within > .form-icon {
  fill: var(--accent-color);
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}

.modal-btn:focus .modal-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-checkbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-checkbox {
  margin-bottom: 30px;
}

.comment {
  height: 120px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: outline var(--transition), border-color var(--transition);
}

.checkbox-icon {
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill-opacity: 0;
  transition: outline var(--transition);
}

.checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox:checked + .checkbox-icon {
  background-color: #188CE8;
  border-color: transparent;
  fill-opacity: 1;
  fill: var(--primary-bgc);
}

.checkbox:focus + .checkbox-icon {
  outline: var(--accent-color);
  border-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */