.features-list {
    display: flex;
}

.features-list .list {
    width: 270px;
}

.thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
}

.feature-title {
    margin-bottom: 10px;

    color: var(--primary-text-color);
}

.feature-text {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}