.footer {
    padding: 60px 0;

    background-color: #2f303a;
}

.footer__info {
    display: flex;
    align-items: baseline;
}

.footer__site {
    margin-right: 70px;
}

.logo__white {
    color: var(--more-text-color);
}

.footer__address {
    width: 231px;
    margin-top: 20px;
}

.address__link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__link--white {
    color: var(--more-text-color);
}

.address__link--grey {
    color: rgba(255, 255, 255, 0.6);
}

.address__item {
    margin-top: 9px;
}

.footer__soc-info {
    margin-right: 93px;
}

.soc-info__title {
    display: block;
    margin-bottom: 20px;

    color: var(--more-text-color);
}

.soc-info__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.1);

    border-radius: 50%;
}

.footer-soc-item:not(:last-child) {
    margin-right: 10px;
}


.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: var(--more-text-color);

    border-radius: 50%;
    transition: background-color var(--transition);
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
    outline: transparent;
}

.footer-form {
    width: 570px;
}

.footer-strong {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 12px;
}

.footer-submit {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 29px;
}

.footer-input {
    padding: 15px 12px 15px 16px;
    flex-grow: 1;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}