.main-nav,
.site-nav {
    display: flex;
}

.logo-header {
    display: block;
    min-width: 145px;
    /* height: 100%; */
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-up {
    margin-bottom: 0;
    color: #000000;
}


.site-nav .link {
    display: block;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .item {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    bottom: -4px;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);

    border-radius: 2px;
}

.page-header {
    border: 1px solid transparent;
    border-bottom-color: #ECECEC;
}

/*------------------Контакти-----------------------*/

.contact {
    display: flex;
    margin-left: auto;
}

.contact .item:not(:last-child) {
    margin-right: 30px;
}

.contact .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;


    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: currentColor;
}

.item:hover {
    fill: var(--accent-color);
}

.icon {
    padding-right: 10px;
}