.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);

    width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--primary-bgc);
    box-shadow: var(--card-shadow);
    border-radius: 4px;

    transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background: var(--primary-bgc);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: border-color var(--transition), fill var(--transition);
}

.modal-close:hover,
.modal-close:focus {
    outline: transparent;
    border-color: var(--accent-color);
}

.modal-close:hover>.close-icon,
.modal-close:focus>.close-icon {
    fill: var(--accent-color);
}

.form-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.form-group {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-group.textarea {
    margin-bottom: 20px;
}

.form label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--title-text-color);
}

.form-label {
    display: inline-block;
    margin-bottom: 4px;
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.form-input {
    width: 100%;
    background-color: transparent;
    padding: 12px 42px;

    transition: outline var(--transition),
        border-color var(--transition);
}

.form-input:focus,
.comment:focus {
    outline: transparent;
    border-color: var(--accent-color);
}

.form-input::placeholder {
    color: var(--accent-color);
}

.form-group:focus-within>.form-icon {
    fill: var(--accent-color);
}

.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
}

.modal-btn:focus .modal-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.form-checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.form-checkbox {
    margin-bottom: 30px;
}

.comment {
    height: 120px;
    padding: 16px 12px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    transition: outline var(--transition),
        border-color var(--transition);
}

.checkbox-icon {
    margin-right: 7px;

    border: 2px solid var(--primary-text-color);
    border-radius: 2px;

    fill-opacity: 0;

    transition: outline var(--transition);
}

.checkbox-link {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.checkbox:checked+.checkbox-icon {
    background-color: #188CE8;
    border-color: transparent;
    fill-opacity: 1;
    fill: var(--primary-bgc);
}

.checkbox:focus+.checkbox-icon {
    outline: var(--accent-color);
    border-color: var(--accent-color);
}