.modal-btn,
.footer-submit {
    border-radius: 4px;
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--more-text-color);
    background: var(--accent-color);

    cursor: pointer;

    transition: background-color var(--transition), box-shadow var(--transition);
}

.modal-btn:hover,
.modal-btn:focus,
.footer-btn:hover,
.footer-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
}

// .modal-btn {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 10px 55px;
// }

// .modal-btn:focus .modal-btn:hover {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }