body {
    font-family: var(--main-font);
    background-color: var(--primary-bgc);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

.list {
    list-style: none;
}

.link {
    transition: color var(--transition);

    text-decoration: none;
}

.main-nav .link:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.footer .link:hover,
.footer .link:focus,
.contact .link:hover,
.contact .link:focus,
.gallery .link:hover,
.gallery .link:focus {
    color: var(--accent-color);
}

.features-list .list:not(:last-child),
.work-list .list:not(:last-child),
.teams-list .list:not(:last-child) {
    margin-right: 30px;
}