body {
    font-family: var(--main-font);
    background-color: var(--primary-bgc);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    transition: color var(--transition);

    text-decoration: none;
    .main-nav &:hover,
    .nav &:hover,
    .nav &:focus,
    .footer &:hover,
    .footer &:focus,
    .contact &:hover,
    .contact &:focus,
    .gallery &:hover,
    .gallery &:focus {
        color: var(--accent-color);
} 
}

.features-list .list:not(:last-child),
.work-list .list:not(:last-child),
.teams-list .list:not(:last-child) {
    margin-right: 30px;
}